/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {s
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 6rem;
    color: white;
    padding-top: 1rem;
}

h3 {
    font-size: 5rem;
    color: white;
}

p, a {
    font-size: 3rem;
    text-decoration: none;
    color: white;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    
}

header>a {
    justify-content: center;
    
}

header a h1 {
    display:flex;
    justify-content: center;
    align-self: center;
}


 
.navigation {
    color: white;
    text-decoration: none;
    display:flex;
    justify-content:space-around;
}
.navigation :hover {
    background-color: rgb(206, 218, 228);
    color:rgb(0, 4, 17);
    border-radius: 1rem;
 }
 
.socialmedia {
    justify-content:center;
    display:flex;
    gap:3rem;
    padding-bottom: 1rem;
    
    
}
.baslik {
    background-color:rgb(0, 4, 17, .7);
}

/* spacers */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* gallery section */
.gallery {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgb(0, 4, 17);
    flex-wrap: wrap;
   
   }
   

.foodpics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
 }

.gallery img {
    border-radius: 2rem;
    box-shadow: 1rem;
    width: 30%;
    margin: 1%;
   
}
/* about us section */
.about {
    width: 100%;
    height: 75vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);

  
}

.about h2 {
    width: 100%;
    padding-bottom: 2rem;
  
}
.about h3 {
    padding-bottom: 2rem;
}
.about-container .text {
    width: 50%;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
    color: white;
}

.contact h2 {
    padding-top: 5vh;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.address {
    width: 25%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}

/* footer section */
footer {
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color:rgb(0, 4, 17);
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 2rem 5%; 
   padding-bottom: 5rem;

}
.footnav {
    background-color:rgb(0, 4, 17);
    justify-content: stretch; 
    padding-bottom: 3rem;
   
   
  }

 .footnav a {
      padding:3rem;
 }
 .footnav :hover {
    background-color: rgb(206, 218, 228);
    color:rgb(0, 4, 17);
    border-radius: 3rem;
 }

footer .copyright {
    display:flex;
    background-color: rgb(0, 4, 17);
    color: white;
    justify-content:flex-end;
}
footer
.altsag{
    flex-direction: column;
    justify-content: space-around;
}
.altsol {
    padding-bottom: 3rem;
    text-align: center;
}
.copyright p {
    font-size: 16px;
}


/* mobile media query */
@media (max-width: 428px) {

    html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 

    }    
    
    /* header section */
    header {
        display: flex;
        flex-direction: column;
        align-items:center;
        flex-wrap: wrap;
        justify-content: stretch;
 
    } 

    header a h1 {
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 7rem; 
        text-align: center;
    }

    .navigation {
        display: flex;
        align-content:center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: stretch;
        text-align: center;
        margin-top:5rem;   
    }

    .navigation a {
        font-size: 5rem;  
    }
  
    .foodpics-container {
        flex-direction: column;
        align-items: center;
    }

    .socialmedia {
        margin-top: 2rem;
    }

    /* gallery section */
    .gallery {
        height: auto;
         
    }

    .gallery img {
        width: 80%;
        margin: 2% 0;
    }
    
    /* about us section */

    .about {
        height: 200vh;
    }
    
    .about h2 {
        width: 100%;
        padding-top: 5vh;
    }
    
    .about-container .text {
        width: 85%;
        font-size: 2.5rem;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    .contact p {
        padding: 1vh 0;
        font-size: 2.5rem;
    }
    
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
        
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
        width: 100%;
        padding-top: 2.5vh;
        font-size: 2.5rem; 
        background-color: rgb(0, 4, 17);
        color: white;
        display: flex;
        flex-direction: column;
        /* align-items: center;  */
        padding: 2rem 5%; 

    }
    .box2 {
    display:flex;
    

    }
    .footnav {
        display: flex;
        background-color: rgb(0, 4, 17);
        color: white;
        gap: 2rem; 
        flex-direction: column;
        align-items:center;
        margin: 3rem;
    }
    
    .copyright {
        display: flex;
        text-align: center;
        margin: 2rem;

    }
}

